* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  width: 1600px;
  margin: 0 auto;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  box-sizing: border-box;
}
